<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <{{lower vendor}}>
            <{{lower extension}}>
                <${2:parameter}>${3:value}</${2:parameter}>
            </{{lower extension}}>
        </{{lower vendor}}>
    </default>
</config>