<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="{{default eventName 'event_name'}}">
        <observer name="{{vendor}}_{{extension}}_{{default observerName 'observer'}}" instance="{{vendor}}\\{{extension}}\Observer\\{{default observerName 'eventObserver'}}" />
    </event>
</config>